@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #1F2937;
  font-family: 'JetBrains Mono', 'Courier New', monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
